<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink] ="['/list']" routerLinkActive ="router-link-active">List</a>
      <a mat-list-item [routerLink] ="['/add']" routerLinkActive ="router-link-active">Add</a>
      <a mat-list-item [routerLink] ="['/view']" routerLinkActive ="router-link-active">View</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>lab01</span>
    </mat-toolbar>
   
   <!-- <app-students></app-students>-->
    <router-outlet> </router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
